
<div class="jumbotron">
	<div class="container">
  		<h1>Need Something?</h1>
		  		<div class="row">
		  
		  </div><!-- /.col-lg-6 -->
		  <div class="col-lg-6 col-lg-offset-3">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Search for...">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Go!</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2>Why Use Merchant?</h2>
			<div class="col-lg-6">
				<h3>As a Renter</h3>
				<p>Merchant allows anyone and everyone to make a little extra cash from their not so frequently used items by renting to nearby users. You decide the price and </p>
				<p></p>
			</div>
			<div class="col-lg-6">
				<h3>As a Rentee</h3>
				<p>Need a pair of skates for the afteernoon but don't want to pay inflated prices from a large department store? Check Merchant for nearby items available for rent. Lower prices and more convenient locations make Merchant the best choice.</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2>Security</h2>
			<p>In order to keep your items safe, specific locations will not be released until both the renter and the rentee have contacted each other and a deposit has been placed. The deposit is kept by Merchant until both parties have agreed that the item has been returned. This will ensure that your item is kept safe and the item is actually what it was advertised as. 
		</div>
	</div>
</div>


